<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Show</title>
</head>
<body>
<p>
    <!-- th:text is a Thymeleaf expression that sets the text of the paragraph element -->
    <span th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</span>
</p>

<!-- th:if is a Thymeleaf expression that conditionally renders the div element if the condition is true -->
<div th:if="${books.isEmpty()}">
    <p>Человек не взял не одной книги</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <table>
        <caption>Книги:</caption>
        <thead>
        <tr>
            <th th:text="'Название'"></th>
            <th th:text="'Автор'"></th>
            <th th:text="'Год'"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.getTitle()}" th:style="${book.isExpired()} ? 'color: red' : 'color: black'">title</td>
            <td th:text="${book.getAuthor()}" th:style="${book.isExpired()} ? 'color: red' : 'color: black'">author</td>
            <td th:text="${book.getYear()}" th:style="${book.isExpired()} ? 'color: red' : 'color: black'">year</td>
        </tr>
        </tbody>
    </table>

    <hr>
</div>

<!-- th:method and th:action are Thymeleaf expressions that set the method and action attributes of the form element, respectively -->
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>
